|<!DOCTYPE html>
|<html>
|<head>
|    <meta charset="utf-8">
|    <meta name="viewport" content="width=device-width, initial-scale=1.0">
|    <title>首页-项目管理器</title>
|    <link href="/mg/css/bootstrap.min.css" rel="stylesheet">
|    <link href="/mg/font-awesome/css/font-awesome.css" rel="stylesheet">
|    <link href="/mg/css/animate.css" rel="stylesheet">
|    <link href="/mg/css/style.css" rel="stylesheet">
|  <!--  kendo -->   
|    <link href="/kedoui/content/styles/examples-offline.css" rel="stylesheet">
|    <link href="/kedoui/styles/kendo.common.min.css" rel="stylesheet">
|    <link href="/kedoui/styles/kendo.rtl.min.css" rel="stylesheet">
|    <link href="/kedoui/styles/kendo.default.min.css" rel="stylesheet">
|    <link href="/kedoui/styles/kendo.dataviz.min.css" rel="stylesheet">
|    <link href="/kedoui/styles/kendo.dataviz.default.min.css" rel="stylesheet">
|  
|</head>
|<body>
|   
|    <div id="wrapper">
|      
|        <!--  导航开始 -->       
|       <nav class="navbar-default navbar-static-side" role="navigation">
|            <div class="sidebar-collapse">
|                <ul class="nav metismenu" id="side-menu">
|  
|                    <li class="nav-header">
|                        <div class="dropdown profile-element">
|  
|                            <span>
|                                <img alt="image" class="img-circle" src="../mg/img/profile_small.jpg" />
|                            </span>
|  
|                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
|                                <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">#{fullname}</strong>
|                                </span> <span class="text-muted text-xs block">下拉功能菜单<b class="caret"></b></span> </span>
|                            </a>
|  
|                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
|                                <li><a href="profile.html">下拉功能1</a></li>
|                                <li><a href="contacts.html">下拉功能2</a></li>
|                                <li><a href="mailbox.html">下拉功能3</a></li>
|                                <li class="divider"></li>
|                                <li><a href="">退出</a></li>
|                            </ul>
|  
|                        </div> <!-- class="dropdown profile-element" end -->
|  
|                        <div class="logo-element">
|                            MG+
|                        </div>
|                    </li><!-- class="nav-header" end -->
|      
|                    <li>
|                        <a id='index' href="/mg/index"><i class="fa fa-th-large"></i> <span class="nav-label">首页</span> </a>
|                    </li>
|                    <li  class="special_link">
|                        <a id='manager' href="/mg/manger"><i class="fa fa-database"></i> <span class="nav-label">项目管理</span></a>
|                    </li>
|  
|                    #{projectList}
|      
|                    <li>
|                        <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label"> 证券投资 </span><span class="fa arrow"></span></a>
|                    </li>
|                    <li>
|                        <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label"> 信用卡管理 </span><span class="fa arrow"></span></a>
|                    </li>
|                    <li id='navmark'></li>
|  
|                </ul>   <!-- class="nav metismenu" end -->
|            </div> <!-- class="sidebar-collapse" end -->
|        </nav> <!-- class="navbar-default navbar-static-side" end -->
|        <!--  导航结束 -->    
| 
|        <div id="page-wrapper" class="gray-bg">
|           
|           <div class="row border-bottom">
|                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">       
|    
|                    <!-- search 栏  -->
|                    <div class="navbar-header">
|                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
|                        <form role="search" class="navbar-form-custom" action="search_results.html">
|                            <div class="form-group">
|                                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
|                            </div>
|                        </form>
|                    </div>
|                    <!-- search 栏 结束 -->
|     
|                    <!-- 右header: 说明，邮件，消息，logout， 下拉 -->
|                    <ul class="nav navbar-top-links navbar-right">
|                        <li>
|                            <span class="m-r-sm text-muted welcome-message">一个简单的多项目管理器</span>
|                        </li>
|    
|                        <!--   邮件内容  -->
include emailContent.html
|                        <!--   邮件内容  结束  -->|
| 
|                        <!--   消息内容  -->
include newsContent.html
|                        <!--   消息内容结束  -->
|        
|                        <!--   退出内容   -->
|                        <li>
|                            <a href="./loginout">
|                                <i class="fa fa-sign-out"></i> 退出
|                            </a>
|                        </li>
|                        <!--   退出内容  结束   -->
|          
|                        <!--   右上角下拉标签   -->
|                        <li>
|                            <a class="right-sidebar-toggle">
|                                <i class="fa fa-tasks"></i>
|                            </a>
|                        </li>
|                        <!--   右上角下拉标签结束   -->
|         
|                    </ul> <!-- class="nav navbar-top-links navbar-right" end -->
|                    <!-- 右header: 说明，邮件，消息，logout， 下拉 ，  结束-->
|  
|                </nav> <!-- class="navbar navbar-static-top white-bg" end -->
|            </div> <!-- class="row border-bottom" end -->
|   
|  
| 
|             <div class="row wrapper border-bottom white-bg page-heading"> 
|                <div class="col-lg-10">
|                    <h2>多项目管理控制台</h2>
|                    <ol class="breadcrumb">
|                        <li><a href="index.html">Home</a></li>                              
|                        <li class="active"><strong>#{position}</strong> </li>
|                    </ol>
|                </div>
|                <div class="col-lg-2">
|                </div>
| 
|            </div>
|    
| 
| 
|            <!-- 主体内容展示区域  -->
|            <div id='projectmanger' class="wrapper wrapper-content animated fadeInRight">
| 
| 
|                <div class="col-lg-12">
|                    <div class="ibox float-e-margins">
| 
|                        <div class="ibox-title">
|                            <h5> 项目创建 <i class="fa fa-plus-square"></i></h5> 
|                            <h5  id='warninfo' style='color:red;margin-left:25px;'>  </h5> 
|                            <div class="ibox-tools">
|                                <a class="collapse-link">
|                                    <i class="fa fa-chevron-up"></i>
|                                </a>
|                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
|                                    <i class="fa fa-wrench"></i>
|                                </a>
|                                <ul class="dropdown-menu dropdown-user">
|                                    <li><a href="#">Config option 1</a>
|                                    </li>
|                                    <li><a href="#">Config option 2</a>
|                                    </li>
|                                </ul>
|                                <a class="close-link">
|                                    <i class="fa fa-times"></i>
|                                </a>
|                            </div>
|                        </div>
|                        <div class="ibox-content">
|                            <form role="form" class="form-inline">
|                                <div class="form-group">
|                                    <label for="exampleInputEmail2" class="sr-only">项目名</label>
|                                    <input id="prj_name" type="text" placeholder="项目名"  class="form-control">
|                                </div>
|                                <div class="form-group">
|                                    <label for="exampleInputPassword2" class="sr-only">端口</label>
|                                    <input id="port" type="text" placeholder="端口"  class="form-control">
|                                </div>
|                                <div class="form-group">
|                                    <label for="exampleInputPassword2" class="sr-only">Url</label>
|                                    <input id="domain_url" type="text" placeholder="Url, 例: http://abc.com"  class="form-control">
|                                </div>
|                                <div class="checkbox m-r-xs">
|                                </div>
|                                <button id='addproject' class="btn btn-white" type="button">添加</button>
|                            </form>
|                        </div>
|  
|                    </div>
|                </div>



|<div class='col-lg-12'>  
|	<div class='ibox float-e-margins'>  
|		<div class='ibox-title'>  
|			<h5>项目名1</h5>  
|			<div class='ibox-tools'>  
|				<a class='collapse-link'><i class='fa fa-chevron-up'></i></a>  
|				<a class='dropdown-toggle' data-toggle='dropdown' href='#'><i class='fa fa-wrench'></i></a>  
|				<ul class='dropdown-menu dropdown-user'>  
|					<li><a href='#'>Config option 1</a></li>  
|					<li><a href='#'>Config option 2</a></li>  
|				</ul>  
|				<a class='close-link'><i class='fa fa-times'></i></a>  
|			</div>  
|		</div>  
|			<div class='ibox-content'>  
|			<table class='table table-bordered'>  
|				<thead><tr><th colspan='3'>
|                            <form role="form" class="form-inline">
|                                <div class="form-group"> 添加一个角色: </div>
|                                <div class="form-group"><input id="role_name_1" type="text" placeholder="角色名"  class="form-control"></div>
|                                <div class="checkbox m-r-xs"><button prjid='1' onclick='addrole(this)' class="btn btn-white" type="button">添加</button></div>         
|                            </form>
|                       </th></tr>
|               </thead>  
|				<thead><tr><th>角色</th><th >功能</th><th  >用户名单</th></tr></thead> 
|				<tbody id='tbody_1' >  
|					<tr>  
|						<td>管理账户</td>  
|						<td >  
|							<div id='role_fun_list_prjid_roleid'  class='row'>  
|									<div class='col-xs-5 col-sm-8'> 
|                                      <div class="col-xs-1 col-sm-2"><input onclick='updateRoleFun(this)' type="checkbox" rfid='1' id="rolefun_1"></div>
|                                      代码:25,智能决策--autoDecision 
|                                   </div>  
|									<div class='col-xs-5 col-sm-8'> 
|                                      <div class="col-xs-1 col-sm-2"><input type="checkbox" id="fun_havedomai_1"></div>
|                                      代码:25,智能决策--autoDecision 
|                                   </div>  
|									<div class='col-xs-5 col-sm-8'> 
|                                      <div class="col-xs-1 col-sm-2"><input type="checkbox" id="fun_havedomai_1"></div>
|                                      代码:25,智能决策--autoDecision 
|                                   </div>  
|								</div>  
|						</td>  
|						<td >   
|							<div id='role_user_list_1_1' class='row'>   <!--  role_user_list_prjid_roidid --> 
|									<div class='col-xs-5 col-sm-8'  style="text-align:right;"><a onclick='adduser(this)' rid='1' pid='1' prjname='项目名1' rolename='角色名' > + 添加用户  </a></div>  
|									<div class='col-xs-5 col-sm-8'   id='roleuser_1'>
|                                        <i onclick='delRoleUser(this)' ruid='1'  class='fa fa-times'></i>user1
|                                   </div>  
|							</div>  
|						</td>  
|					</tr>  
|					<tr>  
|						<td>用户</td><td colspan='2'></td>  
|					</tr>  
|					<tr>  
|						<td>功能模块</td><td colspan='2'>
|							<div id='funlist_1' class='row'> <!--  funlist_1_roleid -->  
|									<div class='col-xs-5 col-sm-8'><i class='fa fa-times '></i> 代码:25,智能决策--autoDecision </div>   
|									<div class='col-xs-5 col-sm-8' id='fundivdel_fid'><a fid='' onclick='delfun(this)'><i class='fa fa-times'></i></a> 代码:26,智能决策--autoDecision  </div> 
|							</div>  
|                        </td> 
|					</tr>  
|					<tr>  
|						<td class='col-xs-1 col-sm-2'>添加功能模块</td>
|                       <td colspan='2'>
|                            <form role="form" class="form-inline">
|                                <div class="form-group">
|                                    <label for="exampleInputEmail2" class="sr-only">功能名</label>
|                                    <input id="fun_name_1" type="text" placeholder="功能名"  class="form-control">
|                                </div>
|                                <div class="form-group">
|                                    <label for="exampleInputPassword2" class="sr-only">链接url</label>
|                                    <input id="fun_url_1" type="text" placeholder="链接url"  class="form-control">
|                                </div>
|                                <div class="form-group">
|                                    <label for="exampleInputPassword2" class="sr-only">程序文件名</label>
|                                    <input id="fun_docname_1" type="text" placeholder="程序文件名"  class="form-control">
|                                </div>
|                                <div class="checkbox m-r-xs"><input type="checkbox" id="fun_havedomai_1">
|                                    <label for="checkbox1">链接含主域名?</label>
|                                   <button prjid='1' onclick='addfun(this)' class="btn btn-white" type="button">添加</button>
|                                </div>
|                               
|                            </form>
|                       </td>  
|					</tr>  
|				</tbody>  
|			</table>  
|		</div>  
|	</div>  
|</div>
| 
| 
| 
|<div class='col-lg-12'>  
|	<div class='ibox float-e-margins'>  
|		<div class='ibox-title'>  
|			<h5>项目名2</h5>  
|			<div class='ibox-tools'>  
|				<a class='collapse-link'><i class='fa fa-chevron-up'></i></a>  
|				<a class='dropdown-toggle' data-toggle='dropdown' href='#'><i class='fa fa-wrench'></i></a>  
|				<ul class='dropdown-menu dropdown-user'>  
|					<li><a href='#'>Config option 1</a></li>  
|					<li><a href='#'>Config option 2</a></li>  
|				</ul>  
|				<a class='close-link'><i class='fa fa-times'></i></a>  
|			</div>  
|		</div>  
|			<div class='ibox-content'>  
|			<table class='table table-bordered'>  
|				<thead><tr><th>模块</th><th >功能</th><th  >用户名单</th></tr></thead>  
|				<tbody>  
|					<tr>  
|						<td>管理账户</td>  
|						<td >  
|							<div class='row'>  
|									<div class='col-xs-5 col-sm-8'> 代码:25,智能决策--autoDecision </div>  
|									<div class='col-xs-5 col-sm-8'> 代码:26,智能决策--autoDecision </div>  
|									<div class='col-xs-5 col-sm-8'> 代码:26,智能决策--autoDecision </div>  
|									<div class='col-xs-5 col-sm-8'> 代码:26,智能决策--autoDecision </div>  
|								</div>  
|						</td>  
|						<td >  
|							<div class='row'>  
|									<div class='col-xs-5 col-sm-8'> user1 dsjhfkjdhfsjfdhkjkjdsafk</div>  
|									<div class='col-xs-5 col-sm-8'> user2 </div>  
|									<div class='col-xs-5 col-sm-8'> user2 </div>  
|									<div class='col-xs-5 col-sm-8'> user3 </div>  
|								</div>  
|						</td>  
|					</tr>  
|					<tr>  
|						<td>用户</td><td colspan='2'></td>  
|					</tr>  
|					<tr>  
|						<td>功能模块</td><td colspan='2'>
|							<div class='row'>  
|									<div class='col-xs-5 col-sm-8'> 代码:25,智能决策--autoDecision </div>  
|									<div class='col-xs-5 col-sm-8'> 代码:26,智能决策--autoDecision </div>  
|									<div class='col-xs-5 col-sm-8'> 代码:26,智能决策--autoDecision </div>  
|									<div class='col-xs-5 col-sm-8'> 代码:26,智能决策--autoDecision </div>  
|								</div>  
|                        </td> 
|					</tr>  
|					<tr>  
|						<td class='col-xs-1 col-sm-2'>添加功能模块</td>
|                       <td colspan='2'>
|                            <form role="form" class="form-inline">
|                                <div class="form-group">
|                                    <label for="exampleInputEmail2" class="sr-only">功能名</label>
|                                    <input id="prj_name" type="text" placeholder="功能名"  class="form-control">
|                                </div>
|                                <div class="form-group">
|                                    <label for="exampleInputPassword2" class="sr-only">链接url</label>
|                                    <input id="port" type="text" placeholder="链接url"  class="form-control">
|                                </div>
|                                <div class="form-group">
|                                    <label for="exampleInputPassword2" class="sr-only">程序文件名</label>
|                                    <input id="domain_url" type="text" placeholder="程序文件名"  class="form-control">
|                                </div>
|                                <div class="checkbox m-r-xs"><input type="checkbox" id="checkbox1">
|                                    <label for="checkbox1">链接含主域名?</label>
|                                   <button prjid='' onclick='addfun(this)' class="btn btn-white" type="button">添加</button>
|                                </div>
|                               
|                            </form>
|                       </td>  
|					</tr>  
|				</tbody>  
|			</table>  
|		</div>  
|	</div>  
|</div>
|  
|  
|                <div id='other' class="row">
| 
|                </div><!-- class="row" end -->
|    
|                <div class="footer">
|                            <div class="pull-right"> 1 of <strong>250GB</strong> Free.</div>
|                            <div> <strong>Copyright</strong> MX &copy; 2016-2017</div>
|                </div><!-- class="footer" end -->
|  
|            </div>
|            <!-- 主体内容展示区域  -->
|  
|            <!-- 右上角下拉内容       -->
|            <div id="right-sidebar">
include topRightDropdown.html
|            </div>
|            <!-- 右上角下拉内容    结束   -->
|  
|        </div> <!-- class="page-wrapper" end -->
|      
|    </div>  <!-- class="wrapper" end -->
| 
| 
|<!-- 模态框（Modal） -->
include Modal.html
|<!-- 模态框（Modal） end-->
|   
|    <!-- Mainly scripts -->
|    <script src="/mg/js/jquery-2.1.1.js"></script>
|    <script src="/mg/js/bootstrap.min.js"></script>
|    <script src="/mg/js/plugins/metisMenu/jquery.metisMenu.js"></script>
|    <script src="/mg/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
|  
|    <!-- Flot -->
|    <script src="/mg/js/plugins/flot/jquery.flot.js"></script>
|    <script src="/mg/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
|    <script src="/mg/js/plugins/flot/jquery.flot.spline.js"></script>
|    <script src="/mg/js/plugins/flot/jquery.flot.resize.js"></script>
|    <script src="/mg/js/plugins/flot/jquery.flot.pie.js"></script>
|    <script src="/mg/js/plugins/flot/jquery.flot.symbol.js"></script>
|    <script src="/mg/js/plugins/flot/jquery.flot.time.js"></script>
|  
|    <!-- Peity -->
|    <script src="/mg/js/plugins/peity/jquery.peity.min.js"></script>
|    <script src="/mg/js/demo/peity-demo.js"></script>
|  
|    <!-- Custom and plugin javascript -->
|    <script src="/mg/js/inspinia.js"></script>
|    <script src="/mg/js/plugins/pace/pace.min.js"></script>
|  
|    <!-- jQuery UI -->
|    <script src="/mg/js/plugins/jquery-ui/jquery-ui.min.js"></script>
|  
|    <!-- Jvectormap -->
|    <script src="/mg/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
|    <script src="/mg/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
|   
|    <!-- EayPIE -->
|    <script src="/mg/js/plugins/easypiechart/jquery.easypiechart.js"></script>
|   
|    <!-- Sparkline -->
|    <script src="/mg/js/plugins/sparkline/jquery.sparkline.min.js"></script>
|  
|    <!-- Sparkline demo data  -->
|   <script src="/mg/js/demo/sparkline-demo.js"></script>
|    
|    <script src="/kedoui/js/kendo.all.min.js"></script>
|    <script src="/kedoui/contentd/js/console.js"></script>
|    <script src="/kedoui/js/messages/kendo.messages.zh-CN.min.js"></script>
| 
|    <!-- mg self    -->
|    <script src="/mg/self/manger.js"></script>
| 
|</body>
|</html>